<footer class="page-footer font-small fixed-bottom" style="background-color: orange;">
	<div class="footer text-center py-3" style="color: black">&copy; 2023 Copyright:
		<a style="color: black;" href="http://localhost:8000">Fox Sustenance Management System</a>
		{% if request.user.username != "" %}
		<a class="ml-3" style="color: black;" href="/accounts/logout/">Rule4 Logout</a>
		{% else %}
		<a class="ml-3" style="color: black;" href="/accounts/login/">Rule4 Login</a>
		{% endif %}
	</div>
</footer>