{% extends 'employee/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Request Submitted!</h1>
            <p>You should receive a confirmation email soon.</p>
            <a href="{% url 'index' %}">Go to the homepage</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">Request Summary:</h3>
            <p>{{ snack }}</p>
            <p>{{ argument }}</p>
            <a href="{{ link }}">Link to Purchase!</a>
        </div>
    </div>
</div>
{% endblock content %}